<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/login-form.css">
    <title>Ears Admin App | Login</title>
</head>
<body>
    
    <section class="title">
        <h1>EARS</h1>
        <p class="meaning">Electronic Attendance Realtime System</p>
        <p class="version">v1.0</p>
    </section>
    <section class="form">
        <form action="#" id="form">
            <input name="username" type="text" placeholder="Username" autofocus>
            <input name="password" type="password" placeholder="Password">
            <small id="message-txt"></small>
            <input id='submit-btn' type="submit" value="Login">
        </form>
    </section>
    <footer>
        <p>Carefully crafted by SoftwareMOJO 2020.</p>
        <p>Francis Dela Victoria | Shiela Villanueva | Nerricar Mansing</p>
    </footer>

    <script src="../scripts/login-form.js"></script>
</body>
</html>