<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../node_modules/@shoelace-style/shoelace/dist/shoelace/shoelace.css">
    <link rel="stylesheet" href="../styles/manage-branches.css">
    <title>Ears Admin App | Manage Branches</title>
</head>
<body>
    <h1>Manage Branches</h1>

    <form action="#">
        <h2>Add new Branch here...</h2>
        <div class="input-element">
            <label>Branch Name</label>
            <input type="text" name="name">
            <small></small>
        </div>
        
        <div class="input-element">
            <label>Description</label>
            <input type="text" name="description">
            <small>You can use location, owner info, or description.</small>
        </div>
        <div class="buttons">
            <button>Add</button>
        </div>
    </form>

    <div class="list">

        <!-- <div class="branch">
            <div class="info">
                <h2>Gaisano Branch</h2>
                <p>Inside Gaisano 1st floor.</p>
            </div>
            <sl-tooltip content="Remove">
                <sl-icon-button name="trash"></sl-icon-button>
            </sl-tooltip>
        </div> -->

    </div>

    <script type="module" src="../node_modules/@shoelace-style/shoelace/dist/shoelace/shoelace.esm.js"></script>
    <script src="../scripts/manage-branches.js"></script>

    <script src="../scripts/_dialogbox-handles.js"></script>
</body>
</html>