/* FONTS */
@font-face {
    src: url(../assets/fonts/Montserrat-Black.ttf);
	font-family: black;
}
@font-face {
    src: url(../assets/fonts/Montserrat-Bold.ttf);
	font-family: bold;
}
@font-face {
    src: url(../assets/fonts/Montserrat-ExtraBold.ttf);
	font-family: extra-bold;
}
@font-face {
    src: url(../assets/fonts/Montserrat-ExtraLight.ttf);
	font-family: extra-light;
}
@font-face {
    src: url(../assets/fonts/Montserrat-Light.ttf);
	font-family: light;
}
@font-face {
    src: url(../assets/fonts/Montserrat-Medium.ttf);
	font-family: medium;
}
@font-face {
    src: url(../assets/fonts/Montserrat-Regular.ttf);
	font-family: regular;
}

@font-face {
    src: url(../assets/fonts/Montserrat-SemiBold.ttf);
	font-family: semi-bold;
}

@font-face {
    src: url(../assets/fonts/Montserrat-Thin.ttf);
	font-family: thin;
}