header {
    display: flex;
    flex-direction: row;
    padding: 40px 30px 20px 30px;

    h1 {
        color: $dark-grey;
        font-family: semi-bold;
        font-size: 32px;
    }

    button {
        background: none;
        border: none;
        font-family: bold;
        font-size: 21px;
        color: $purple;
        margin-left: auto;
        padding-bottom: 5px;
        border-bottom: 3px solid white;
        cursor: pointer;
        text-transform: uppercase;
        transition: .2s border-color ease-in-out;

        &:hover {
            border-color: $purple;
        }

        &:focus {
            outline: none;
        }
    }
}