

sl-drawer {
    
    .profile {
        display: flex;

        sl-avatar::part(base) {
            border: solid 3px $purple;
            width: 42px;
            height: 42px;
        }

        .profile-texts {
            margin-left: 10px;
            display: flex;
            flex-direction: column;

            h2 {
                font-family: bold;
                font-size: 16px;
                color: $dark-grey;
            }

            span {
                font-family: semi-bold;
                font-size: 11px;
                letter-spacing: 0.4em;
                color: $dark-grey;
                text-transform: uppercase;
            }
        }
    }

    .group {
        margin-bottom: 15px;

        h6 {
            cursor: pointer;
            margin-bottom: 10px;
            font-family: bold;
            font-size: 16px;
            color: $purple;
            border-bottom: 3px solid white;
            padding-bottom: 5px;
            width: fit-content;
            transition: .2s border-color ease-in-out;

            &:hover {
                border-color: $purple;
            }
        }

        p{
            cursor: pointer;
            margin-bottom: 10px;
            font-family: regular;
            font-size: 14px;
            color: $dark-grey;
            border-bottom: 3px solid white;
            padding-bottom: 5px;
            width: fit-content;
            transition: .2s border-color ease-in-out;

            &:hover {
                border-color: $icon-gray;
            }
        }
    }

    h6[data-disabled=true], p[data-disabled=true] {
        opacity: .6;
        text-decoration: line-through;
        cursor: no-drop;
        pointer-events: none;
        
        &:hover {
            border-color: white;
        }
    }

}