/* FONTS */
@font-face {
  src: url(../assets/fonts/Montserrat-Black.ttf);
  font-family: black;
}

@font-face {
  src: url(../assets/fonts/Montserrat-Bold.ttf);
  font-family: bold;
}

@font-face {
  src: url(../assets/fonts/Montserrat-ExtraBold.ttf);
  font-family: extra-bold;
}

@font-face {
  src: url(../assets/fonts/Montserrat-ExtraLight.ttf);
  font-family: extra-light;
}

@font-face {
  src: url(../assets/fonts/Montserrat-Light.ttf);
  font-family: light;
}

@font-face {
  src: url(../assets/fonts/Montserrat-Medium.ttf);
  font-family: medium;
}

@font-face {
  src: url(../assets/fonts/Montserrat-Regular.ttf);
  font-family: regular;
}

@font-face {
  src: url(../assets/fonts/Montserrat-SemiBold.ttf);
  font-family: semi-bold;
}

@font-face {
  src: url(../assets/fonts/Montserrat-Thin.ttf);
  font-family: thin;
}

/* COLORS */
/* SCROLL BAR */
::-webkit-scrollbar {
  width: 8px;
  height: 5px;
  background: lightgray;
}

::-webkit-scrollbar-thumb {
  background-color: #363636;
  opacity: 0.1;
  border-radius: 5px;
}

sl-drawer .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

sl-drawer .profile sl-avatar::part(base) {
  border: solid 3px #726eff;
  width: 42px;
  height: 42px;
}

sl-drawer .profile .profile-texts {
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

sl-drawer .profile .profile-texts h2 {
  font-family: bold;
  font-size: 16px;
  color: #363636;
}

sl-drawer .profile .profile-texts span {
  font-family: semi-bold;
  font-size: 11px;
  letter-spacing: 0.4em;
  color: #363636;
  text-transform: uppercase;
}

sl-drawer .group {
  margin-bottom: 15px;
}

sl-drawer .group h6 {
  cursor: pointer;
  margin-bottom: 10px;
  font-family: bold;
  font-size: 16px;
  color: #726eff;
  border-bottom: 3px solid white;
  padding-bottom: 5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transition: .2s border-color ease-in-out;
  transition: .2s border-color ease-in-out;
}

sl-drawer .group h6:hover {
  border-color: #726eff;
}

sl-drawer .group p {
  cursor: pointer;
  margin-bottom: 10px;
  font-family: regular;
  font-size: 14px;
  color: #363636;
  border-bottom: 3px solid white;
  padding-bottom: 5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transition: .2s border-color ease-in-out;
  transition: .2s border-color ease-in-out;
}

sl-drawer .group p:hover {
  border-color: #707070;
}

sl-drawer h6[data-disabled=true], sl-drawer p[data-disabled=true] {
  opacity: .6;
  text-decoration: line-through;
  cursor: no-drop;
  pointer-events: none;
}

sl-drawer h6[data-disabled=true]:hover, sl-drawer p[data-disabled=true]:hover {
  border-color: white;
}

.loader {
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  width: 100%;
  height: 0;
  background: rgba(255, 255, 255, 0.97);
  overflow: hidden;
  bottom: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: height .4s ease-in;
  transition: height .4s ease-in;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.loader h1 {
  font-family: bold;
  color: #363636;
  margin-top: 20px;
  font-size: 18px;
  opacity: .9;
}

.loader .loader-indicator {
  background: #726eff;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  -webkit-animation: loading .5s ease infinite;
          animation: loading .5s ease infinite;
}

@-webkit-keyframes loading {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0;
  }
}

@keyframes loading {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0;
  }
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 40px 30px 20px 30px;
}

header .back-btn {
  position: absolute;
  top: 30px;
  left: 30px;
  text-decoration: none;
  color: #363636;
  text-transform: uppercase;
  font-family: bold;
  font-size: 21px;
  line-height: 28px;
  letter-spacing: 0.05em;
  padding-bottom: 5px;
  border-bottom: 3px solid white;
  -webkit-transition: .2s border-color ease-in-out;
  transition: .2s border-color ease-in-out;
}

header .back-btn:hover {
  border-color: #363636;
}

header h1 {
  color: #363636;
  font-family: semi-bold;
  font-size: 32px;
}

header button {
  background: none;
  border: none;
  font-family: bold;
  font-size: 21px;
  color: #726eff;
  margin-left: auto;
  padding-bottom: 5px;
  border-bottom: 3px solid white;
  cursor: pointer;
  text-transform: uppercase;
  -webkit-transition: .2s border-color ease-in-out;
  transition: .2s border-color ease-in-out;
}

header button:hover {
  border-color: #726eff;
}

header button:focus {
  outline: none;
}

footer {
  position: absolute;
  width: 100vw;
  height: 20px;
  bottom: 0;
  background: #726eff;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.5px 10px;
  -webkit-transition: background 0.5s ease-in-out;
  transition: background 0.5s ease-in-out;
}

footer p {
  font-size: 12px;
  color: white;
  font-family: medium;
  margin: 0 6px;
  cursor: default;
}

footer sl-icon {
  color: white;
  margin: 0 6px;
  font-family: medium;
}

footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

footer .right {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.dialog-box::part(title) {
  font-family: semi-bold;
  color: #363636;
}

.dialog-box::part(body) {
  font-family: regular;
}

.dialog-box .buttons button {
  background: none;
  border: none;
  padding-bottom: 5px;
  border-bottom: 3px solid white;
  cursor: pointer;
  font-family: bold;
  margin: 0 10px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.dialog-box .buttons button:focus {
  outline: none;
}

.dialog-box .buttons .positive-btn {
  color: #726eff;
}

.dialog-box .buttons .positive-btn:hover {
  border-color: #726eff;
}

.dialog-box .buttons .negative-btn {
  color: #363636;
  opacity: .5;
}

.dialog-box .buttons .negative-btn:hover {
  border-color: #363636;
  opacity: 1;
}

.input-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}

.input-element label {
  font-family: semi-bold;
  color: #363636;
  font-size: 12px;
  margin-bottom: 5px;
  margin-left: 10px;
  opacity: .7;
  -webkit-transition: opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out;
}

.input-element input {
  height: 41px;
  background: #f1f1f1;
  border: 1px white solid;
  border-radius: 5px;
  padding: 0 10px;
  font-family: semi-bold;
  color: #363636;
  font-size: 15px;
  width: 100%;
  -webkit-transition: border-color .2s ease-in-out;
  transition: border-color .2s ease-in-out;
}

.input-element small {
  font-family: semi-bold;
  font-size: 11px;
  color: #363636;
  margin-top: 2px;
  margin-left: 5px;
  opacity: .5;
}

.input-element:focus-within label {
  opacity: 1;
  color: #726eff;
}

.input-element:focus-within small {
  opacity: 1;
  color: #726eff;
}

.input-element:focus-within input {
  outline: none;
  border-color: #726eff;
}

.input-element[data-invalid=true] input {
  border-color: #cc3448;
}

.input-element[data-invalid=true] small {
  color: #cc3448;
  opacity: 1;
}

.input-element[data-invalid=true] label {
  color: #cc3448;
  opacity: 1;
}

.input-element sl-dropdown input {
  width: 100%;
}

.input-element sl-dropdown sl-menu sl-menu-item[type=manage]::part(base) {
  opacity: .3;
}

.input-element sl-dropdown sl-menu sl-menu-item[type=manage]:hover::part(base) {
  opacity: 1;
}

.input-element sl-dropdown sl-menu sl-menu-item[type=manage] sl-icon {
  margin-right: 10px;
}

.alert-wrapper {
  position: absolute;
  width: 40%;
  padding: 30px 30px;
  z-index: 10;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  -webkit-transition: height .3s ease-in-out;
  transition: height .3s ease-in-out;
}

.alert-wrapper .alert {
  background: #707070;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  min-height: 41px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  color: white;
  -webkit-animation: onShow .3s ease-in-out;
          animation: onShow .3s ease-in-out;
}

.alert-wrapper .alert sl-icon {
  font-size: 22px;
  margin: 0 10px;
}

.alert-wrapper .alert p {
  margin-top: 2px;
  font-family: semi-bold;
  font-size: 14px;
  width: 80%;
}

.alert-wrapper .alert sl-icon-button {
  font-size: 28px;
  margin-left: 20px;
}

.alert-wrapper .alert sl-icon-button::part(base) {
  padding: 0;
  color: white;
  opacity: .3;
  -webkit-transition: opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out;
}

.alert-wrapper .alert sl-icon-button::part(base):hover {
  opacity: 1;
}

@-webkit-keyframes onShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes onShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

sl-dialog::part(title) {
  font-family: semi-bold;
  color: #363636;
}

sl-dialog form .two-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
}

sl-dialog .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

sl-dialog .buttons button {
  background: none;
  border: none;
  padding-bottom: 5px;
  border-bottom: 3px solid white;
  cursor: pointer;
  font-family: bold;
  margin: 0 10px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

sl-dialog .buttons button:focus {
  outline: none;
}

sl-dialog .buttons .delete-btn {
  color: #cc3448;
}

sl-dialog .buttons .delete-btn:hover {
  border-color: #cc3448;
}

sl-dialog .buttons .save-btn {
  margin-left: auto;
  color: #726eff;
}

sl-dialog .buttons .save-btn:hover {
  border-color: #726eff;
}

sl-dialog .buttons .reset-btn {
  color: #363636;
  opacity: .5;
}

sl-dialog .buttons .reset-btn:hover {
  border-color: #363636;
  opacity: 1;
}

main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

main h1 {
  color: #363636;
  font-family: semi-bold;
  font-size: 32px;
}

main .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 514px;
  background: #f1f1f1;
  padding: 20px;
  border-radius: 5px;
}

main .profile .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .profile .top .badges {
  width: 30%;
}

main .profile .top .badges p {
  background: #363636;
  padding: 2px 5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: regular;
  font-size: 10px;
  color: white;
  border-radius: 3px;
  margin-right: 5px;
  margin-bottom: 2px;
}

main .profile .top sl-avatar::part(base) {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: solid 3px #f1f1f1;
  background: white;
}

main .profile .top sl-avatar::part(icon) {
  font-size: 50px;
  color: #707070;
}

main .profile .top .options {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

main .profile .info {
  margin-top: 10px;
  text-align: center;
}

main .profile .info h2 {
  font-family: semi-bold;
  color: #363636;
  font-size: 20px;
  margin-bottom: 5px;
}

main .profile .info p {
  text-transform: uppercase;
  font-family: semi-bold;
  font-size: 14px;
  letter-spacing: 0.2em;
  color: #363636;
  opacity: 0.9;
}

main .shifts {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  width: 95%;
  height: 35vh;
  overflow-x: hidden;
}

main .shifts:hover {
  overflow-x: auto;
}

main .shifts .day {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  border-radius: 5px;
}

main .shifts .day .head {
  border-radius: 3px;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 190px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color .2s ease-in-out;
  transition: background-color .2s ease-in-out;
}

main .shifts .day .head:hover {
  background: #f1f1f1;
}

main .shifts .day .head:hover sl-icon-button {
  opacity: .4;
}

main .shifts .day .head label {
  font-family: semi-bold;
  font-size: 14px;
  color: #707070;
  cursor: pointer;
}

main .shifts .day .head sl-icon-button {
  margin-left: auto;
  font-size: 20px;
  -webkit-transition: opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out;
  opacity: 0;
}

main .shifts .day .head sl-icon-button:hover {
  color: #707070;
  opacity: 1;
}

main .shifts .day .head sl-icon-button::part(base) {
  height: 15px;
}

main .shifts .day .shifts-wrapper {
  margin-top: 10px;
  height: 100%;
  overflow: hidden;
}

main .shifts .day .shifts-wrapper:hover {
  overflow: auto;
}

main .shifts .day .shifts-wrapper .shift {
  background-color: #f1f1f1;
  border-radius: 5px;
  text-align: center;
  padding: 10px 0;
  cursor: pointer;
  margin-bottom: 10px;
}

main .shifts .day .shifts-wrapper .shift:hover {
  background-color: #e1e1e1;
}

main .shifts .day .shifts-wrapper .shift h6 {
  font-family: regular;
  font-size: 12px;
  color: #363636;
  margin-bottom: 5px;
  pointer-events: none;
  opacity: .8;
}

main .shifts .day .shifts-wrapper .shift p {
  font-family: semi-bold;
  font-size: 14px;
  color: #363636;
  pointer-events: none;
}
/*# sourceMappingURL=employee-shifts.css.map */