@import "./partials/fonts";
@import "./partials/colors";
@import "./partials/scrollbar";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: $dark-grey;
    font-family: bold;
    font-size: 22px;
    text-align: center;
    margin: 20px;
}

form {
    margin: 0 20px;
    border-radius: 5px;
    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.20);
    padding: 20px;

    h2 {
        font-family: semi-bold;
        font-size: 14px;
        color: $dark-grey;
        margin-bottom: 10px;
    }

    sl-color-picker {
        &::part(trigger) {
            border-radius: 5px;
        }       

        &::part(swatches) {
            display: none;
        }
    }

    .inputs {
        display: flex;
        justify-content: space-between;
        align-items: center;

        input {
            height: 41px;
            background: $light-grey;
            border: 1px white solid;
            border-radius: 5px;
            padding: 0 10px;
            font-family: semi-bold;
            color: $dark-grey;
            font-size: 15px;
            transition: border-color .2s ease-in-out;

            &:focus {
                outline: none;
                border-color: $purple;
            }
        }

        button {
            background: none;
            border: none;
            height: 25px;
            padding-bottom: 5px;
            border-bottom: 3px solid white;
            cursor: pointer;
            font-family: bold;
            color: $purple;
            transition: all .2s ease-in-out;

            &:hover {
                border-color: $purple;
            }

            &:focus {
                outline: none;
            }
        }
    }

    small {
        font-family: semi-bold;
        font-size: 11px;
        color: $red;
        margin-top: 2px;
        margin-left: 5px;
    }
}

.list {
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 320px;
    padding-right: 5px;
    overflow-y: hidden;
    cursor: pointer;

    &:hover {
        overflow-y: auto;
    }
    

    .item{
        background: $light-grey;
        height: 35px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        padding: 0 10px;
        transition: margin .2s ease-in-out;

        .color {
            width: 15px;
            height: 15px;
            background: lightcoral;
            border-radius: 2px;
            margin-right: 10px;
        }

        h2 {
            font-family: medium;
            font-size: 14px;
            color: $dark-grey;
        }

        sl-icon-button {
            margin-left: auto;
            transition: .3s opacity ease-in-out;
            opacity: 0;

            &:hover {
                &::part(base) {
                    color: $red;
                }
            }
        }

        &:hover {
            margin: 5px 0;
            sl-icon-button {
                opacity: 1;
            }
        }
    }
}