@import "./partials/fonts";
@import "./partials/colors";
@import "./partials/scrollbar";
@import "./partials/menu";
@import "./partials/loader";
@import "./partials/header";
@import "./partials/footer";
@import "./partials/dialog-box";
@import "./partials/input";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        color: $dark-grey;
        font-family: semi-bold;
        font-size: 32px;
    }

    form {
        margin: 20px 0;
        width: 588px;
        max-height: 500px;
        border-radius: 5px;
        box-shadow: 4px 4px 15px 3px rgba(0, 0, 0, 0.25);
        padding: 20px 30px;

        h2 {
            font-family: semi-bold;
            font-size: 18px;
            color: $dark-grey;
            margin-bottom: 20px;
        }

        .two-col {
            display: flex;
            justify-content: space-between;
            gap: 10px;
        }

        .buttons {
            display: flex;
            justify-content: flex-end;
            margin-top: 30px;

            button, input {
                background: none;
                border: none;
                padding-bottom: 5px;
                border-bottom: 3px solid white;
                cursor: pointer;
                font-family: bold;
                margin: 0 10px;
                transition: all .2s ease-in-out;

                &:focus {
                    outline: none;
                }
            }

            .positive-btn {
                color: $purple;

                &:hover {
                    border-color: $purple;
                }
            }

            .negative-btn {
                color: $dark-grey;
                opacity: .5;

                &:hover {
                    border-color: $dark-grey;
                    opacity: 1;
                }
            }
        }

        .name-contact {
            display: none;

            .user-image-wrapper{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 5px;
                margin-bottom: 20px;

                sl-avatar {
                    &::part(base) {
                        width: 115px;
                        height: 115px;
                        background: $light-grey;
                    }

                    &::part(icon) {
                        color: $icon-gray;
                        font-size: 50px;
                    }
                }

                button {
                    background: none;
                    border: none;
                    border-bottom: 3px solid white;
                    padding-bottom: 5px;
                    font-family: semi-bold;
                    color: $dark-grey;
                    font-size: 12px;
                    cursor: pointer;
                    opacity: .7;
                    transition: .2s all ease-in-out;

                    &:focus {
                        outline: none;
                    }

                    &:hover {
                        border-color: $purple;
                        opacity: 1;
                    }
                }
            }
        }

        .job-info {
            display: block;
        }
    }
}